.contenedor{
    font-family: "Roboto";
    padding: 20px;
    border: 15px;
    background-color: #040404;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo img{
    width:200px;
    height:150px;
    margin-bottom: 0px;
}

.contenedor form{
    display: contents;
}

.contenedor form input {
    width: 200px;
    height: 90%;
    border: solid 1px #FFC800;
    border-radius: 5px;
    background-color: #FFC800;
    color: #442204;
    align-items: center;
    order: 1;    
}

.contenedor form input:focus { 
    border: 1px solid transparent;
    outline: none;
}

.contenedor form ::placeholder {
    font-family: "Roboto";
    
    color: #442204;
    font-size: 1rem;
}

.logo h1 {
    font-family: "Roboto";
    color: white;
    text-align: center;
    margin-top: 0px;
}

.contenedor h2 {
    font-family: "Roboto";
    color: white;
    font-size: 1rem;
    text-align: center;
}

.contenedor h3 {
    font-family: "Roboto";
    color: white;
    font-size: 1rem;
    text-align: center;
}


.button {
    width: 200px;
    height: 40px;
    font-family: "Roboto";
    font-size: 1rem;
    color: #442204;
    border: solid 1px #FFC800;
    background-color: #FFC800;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    transition: all 0.5s;

}
.button button:hover{
    background-color: #aa8500;
    cursor: pointer;

} 
.nombreLogin input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #442204
}
.contraseñaLogin input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #442204
}
.nombreLogin {
    background-color: #FFC800;
    width: 200px;
    height: 40px;
    border-radius: 5px;
}
.contraseñaLogin {
    background-color: #FFC800;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    margin-top: 15px;
}
.recuerdame{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 200px;
    height: 100%;
    margin-top: 10px;
}

.errorMsg{
    margin: 0;
    color: #FFC800;
}


