.containerPrincipal{
    width: 100vw;
    height: 550px;
    text-align: center; 
}
.containerPrincipal div h1{
    font-family: 'Afterglow';
    font-size: 80px;
    color:#ffc800;
  
}
.containerPrincipal div h6{
    font-family: 'Afterglow';
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);

}
.principal{
    width: 100%;
    height:  100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    background-color: rgba(9, 9, 9, 0.553);
    position: relative;
    z-index: 10;
}

.videoForeground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.videoBackground {
    background: #000;
    position: relative;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -100;
    height: 200%;
    width: 100%;
    opacity: 0.5;
}
.letraSlogan {
    position:absolute;
    z-index: 10;
}